html {
  font-size: 1em;
  line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #dfefff, #efefff);
  color: #222;
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(200px, 75rem)
    minmax(1rem, 1fr);
  grid-template-rows:
    -webkit-min-content
    auto
    -webkit-min-content;
  grid-template-rows:
    min-content
    auto
    min-content;
  align-items: start;
}

@font-face {
  font-family: "Neumann";
  src: url(../fonts/td-neumann.eot);
  src: url(../fonts/td-neumann.eot?#iefix) format("embedded-opentype"),
    url(../fonts/td-neumann.otf) format("otf"),
    url(../fonts/td-neumann.ttf) format("truetype"),
    url(../fonts/td-neumann.woff) format("woff"),
    url(../fonts/td-neumann.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.eot);
  src: url(../fonts/Poppins-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Regular.otf) format("otf"),
    url(../fonts/Poppins-Regular.ttf) format("truetype"),
    url(../fonts/Poppins-Regular.woff) format("woff"),
    url(../fonts/Poppins-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Indie Flower";
  src: url(../fonts/IndieFlower-Regular.eot);
  src: url(../fonts/IndieFlower-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/IndieFlower-Regular.otf) format("otf"),
    url(../fonts/IndieFlower-Regular.ttf) format("truetype"),
    url(../fonts/IndieFlower-Regular.woff) format("woff"),
    url(../fonts/IndieFlower-Regular.woff2) format("woff2");
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #2980b9;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* ===================== headlines ======================== */
h1,
h2,
h3,
h4 {
  font-family: "Neumann", serif;
}
h1 {
  font-size: calc(1.2rem + 2.5vw);
  text-align: center;
}
.index h1 {
  margin: 5rem auto 3.5rem;
}
.header_projects h1 {
  margin: 0.5 auto;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  padding-top: 1.5rem;
}
p,
.ch65 {
  max-width: 70ch;
}

/* ===================== headers ========================== */
header {
  margin: 0 auto;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
}
header p {
  margin: 0;
}
.header_projects {
  font-family: "Neumann", serif;
  margin-top: 1rem;
}
hgroup {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* =================== choices fieldset ===================== */
.choices {
  margin: 0 1rem;
  display: inline;
  grid-column-start: 2;
  grid-column-end: 3;
}
.choices fieldset {
  text-align: left;
  border: 2px solid #c5d8e1;
  border-radius: 25px;
  background-color: #fefaee;
}
.choices ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  margin: 0;
  padding: 0.85rem;
}
.choices li {
  list-style: none;
  padding: 0.15em;
  color: #2980b9;
}
.choices li:hover {
  text-decoration: underline;
}

.choices legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #222;
  padding: 0.2rem 0.7rem;
  background-color: inherit;
  border: 2px solid #c5d8e1;
  border-radius: 15px;
}

/* ===================== polaroids ======================== */
.polaroids {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: calc(1rem-10px); /*wegen box shadow*/
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  justify-items: center;
  margin: 1.5rem 0;
}

.polaroid {
  transition: all ease 0.6s;
  z-index: 1;
  min-width: 87.5%;
}
.polaroid figure {
  border: 15px solid #fefaee;
  box-shadow: 3px 3px 3px #888;
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}
.polaroid figure:hover {
  box-shadow: 3px 3px 3px #555;
}

.polaroid figcaption {
  color: #2980b9;
  background-color: #fefaee;
  min-height: 52px;
  margin: auto -12px; /*making sure there can be text on the whole width of the polaroid*/
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
  text-align: center;
  padding: 0.8rem 0 0 0;
}
.polaroid img {
  width: 100%;
}

.polaroid:nth-child(2n) {
  transform: rotate(4deg);
}
.polaroid:nth-child(2n + 1) {
  transform: rotate(-4deg);
}
.polaroid:nth-child(3n) {
  transform: rotate(2.5deg);
}
.polaroid:nth-child(3n + 1) {
  transform: rotate(-2.5deg);
}
.polaroid:nth-child(7n + 1) {
  transform: rotate(1.5deg);
}
.polaroid:hover {
  transform: scale(1.03) rotate(1.5deg);
  z-index: 999;
}
.polaroid:hover a {
  text-decoration: none;
}

/* ===================== article ======================== */
article {
  grid-column-start: 2;
  padding-bottom: 3rem;
}
article > * {
  margin: 0 1rem 0.65rem;
  clear: right;
}
article p {
  margin-top: 0;
  text-align: left;
}
article figure {
  padding: 0;
  margin: 0;
  display: inline-block;
}
article img {
  max-width: calc(100% - 1rem);
  display: inline-block;
  border: thin #c5d8e1 solid;
  padding: 0.5rem;
  background-color: #fff;
}
article p + img {
  margin-bottom: 1rem;
}
article iframe {
  max-width: 100%;
  margin: auto;
}
article p + iframe {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
article p + h3 {
  padding: 0;
  -moz-column-break-after: avoid-column;
  break-after: avoid-column; /* not working yet */
}

article .columns ~ h2 {
  margin-top: 3.5rem;
}
article .columns h3:first-of-type {
  padding: 0;
}
article h2 + h3 {
  padding-top: 0rem;
}
article ul {
  text-align: left;
}
article code,
pre {
  text-align: left;
}

.date,
.update {
  color: grey;
  font-family: monospace;
  float: right;
}
.fake-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.onerow {
  flex-basis: 20rem;
  flex-grow: 1;
}
.nobr {
  white-space: nowrap;
}
.code {
  font-family: monospace;
}
.i {
  font-style: italic;
}
.inline-block {
  /* hack to get something like break-after: avoid-column; */
  display: inline-block;
}

/* ===================== footer ========================== */
footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background: #efefff;
  border-bottom: 30px solid transparent;
  -moz-border-image: url("../img/day_sky_bg.jpg") 0 0 30 0; /* Old firefox */
  -webkit-border-image: url("../img/day_sky_bg.jpg") 0 0 30 0;
  -o-border-image: url("../img/day_sky_bg.jpg") 0 0 30 0;
  border-image: url("../img/day_sky_bg.jpg") 0 0 30 0;
  -o-border-image: repeat;
  border-image-repeat: repeat;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto -0.1em auto;
  padding: 0;
  max-width: 75rem;
  list-style: none;
}
footer li {
  text-align: right;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
}
footer a {
  color: #222;
  text-shadow: 0 0 3px LightYellow;
  margin-bottom: 0;
  padding: 0;
  font-family: "Neumann";
  font-weight: bold;
}
footer a:hover {
  text-decoration: none;
  text-shadow: 0 0 5px yellow;
}

/* ===================== details ========================== */
.break_avoid {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.flourish-bar-chart-race {
  margin: 1rem;
}
.hidden {
  display: none;
}
.draft {
  color: grey;
}
.center {
  text-align: center;
}

/* ================== desktop media query ==================== */
@media only screen and (min-width: 50em) {
  .choices {
    margin: auto;
    width: 100%;
  }
  .choices ul {
    display: flex;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    justify-content: space-around;
    margin: 0;
  }
}
@media (min-width: 32em) {
  article h2 {
    text-align: left;
    margin-left: 0;
  }
  article h3 {
    text-align: left;
  }
  footer ul {
    margin: 0 auto -0.4em auto;
  }
  footer li {
    text-align: right;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
  }
}
@media (min-width: 32em) and (min-height: 500px) {
  .columns {
    -moz-columns: 350px 2;
    columns: 350px 2;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }

  article h3 {
    text-align: center;
  }
}
/* ===================== print ========================== */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none;
    text-shadow: none;
  }
  html {
    font-size: 12pt;
  }

  .no-print {
    display: none;
  }
  .columns {
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .choices {
    margin: auto;
    width: 100%;
  }
  .choices ul {
    display: flex;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    justify-content: space-around;
    margin: 0;
  }
  article iframe {
    display: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " → (" attr(href) ")";
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  img {
    max-width: 100%;
  }

  p,
  h2,
  h3,
  h4 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

/* ===================== dark mode ========================== */
/* Palette URL: http://paletton.com/#uid=73G1t0kxfgsueaMrYhfI1l+D7tF */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      to bottom,
      #030c1c 0%,
      #020e24 70%,
      #2e3b47 100%
    );
    color: silver;
    font-weight: 350;
    text-shadow: 0px 0px 1px black;
  }

  ::-moz-selection {
    background: #030c1c;
    color: #silver;
    text-shadow: none;
  }
  ::selection {
    background: #030c1c;
    color: #silver;
    text-shadow: none;
  }
  a {
    color: #a88800;
  }
  img {
    -webkit-filter: brightness(0.75);
    filter: brightness(0.75);
  }
  footer {
    background: linear-gradient(
      to bottom,
      rgba(46, 59, 71, 0),
      rgba(87, 110, 113, 0.5),
      #ab974f 90%,
      #b35e30
    );
    border-top: 0;
    border-bottom: 30px solid transparent;
    -moz-border-image: url("../img/night_sky_bg.jpg") 0 0 30 0; /* Old firefox */
    -webkit-border-image: url("../img/night_sky_bg.jpg") 0 0 30 0; /* Safari */
    -o-border-image: url("../img/night_sky_bg.jpg") 0 0 30 0; /* Opera */
    border-image: url("../img/night_sky_bg.jpg") 0 0 30 0;
    -o-border-image: repeat;
    border-image-repeat: repeat;
    padding-top: 10rem; /* moving the background up*/
    margin-top: -10rem;
  }
  footer a {
    color: black;
  }
  footer a::-moz-selection {
    background: yellow;
  }
  footer a::selection {
    background: yellow;
  }

  .choices fieldset {
    background-color: #06152e;
    border: 2px solid #a88800;
  }
  .choices legend {
    border: 2px solid #a88800;
    color: silver;
  }

  .choices li {
    color: #a88800;
  }

  .polaroid figure {
    border: 15px solid #031e4c;
    box-shadow: 0 0 1px white;
  }
  .polaroid figure:hover {
    box-shadow: 0 0 3px white;
  }
  .polaroid figcaption {
    color: #a88800;
    background-color: #031e4c;
  }

  article img {
    background-color: silver;
  }

  .date,
  .update {
    color: silver;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 1), 0px 8px 13px rgba(0, 0, 0, 0.8),
      0px 18px 23px rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-reduced-motion: reduce) {
  .polaroid:nth-child(2n):hover {
    transform: rotate(4deg);
  }
  .polaroid:nth-child(2n + 1):hover {
    transform: rotate(-4deg);
  }
  .polaroid:nth-child(3n):hover {
    transform: rotate(2.5deg);
  }
  .polaroid:nth-child(3n + 1):hover {
    transform: rotate(-2.5deg);
  }
  .polaroid:nth-child(7n + 1):hover {
    transform: rotate(1.5deg);
  }
}
