html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #fff;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #dfefff, #efefff);
  color: #222;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* ===================== headlines ========================== */
h1 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h2 {
  font-family: "Indie Flower", cursive;
}
h3 {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

/* ===================== headers ========================== */
.backtoindex {
  text-align: center;
  margin: 1rem auto;
  color: grey;
}
.home_button {
  position: absolute;
  top: 1em;
  left: 1em;
}
header {
  position: relative;
  margin: 0;
  padding: 1rem;
}
header p {
  margin: 0;
}
header a {
  text-decoration: none;
  color: #2980b9;
}
header a:hover {
  text-decoration: underline;
}

/* ===================== choices fieldset ========================== */
.choices fieldset {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border: 2px solid #c5d8e1;
  border-radius: 15px;
  background-color: #fefaee;
  margin: 0 1rem;
}
.choices label {
  display: block;
}

/* ===================== polaroids ========================== */
.polaroids {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.polaroid {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: auto;
}
.polaroid img {
  border: 12px solid #fefaee;
  border-bottom: 70px solid #fefaee;
  -webkit-box-shadow: 3px 3px 3px #888;
  -moz-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  height: auto;
  max-width: 100%;
}
.polaroid p {
  color: #2980b9;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* ===================== article ========================== */
article p {
  margin: 0.5rem 1rem;
}
article figure {
  max-width: 100%;
  border: thin #c5d8e1 solid;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #fff;
  clear: right;
}
article img.scaled {
  width: 100%;
}
.date,
.update {
  color: grey;
  font-family: monospace;
}

/* ===================== footer ========================== */
footer {
  background-color: #222;
  margin: 0;
  padding: 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}
footer a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  color: #dfefff;
  font-weight: bold;
  padding: 1em;
}

/* ===================== details ========================== */
.indie_flower {
  font-family: "Indie Flower", cursive;
}
.break_avoid {
  break-inside: avoid-column;
}
.flourish-bar-chart-race {
  margin: 1rem;
}
.hidden {
  display: none;
}

/* ===================== desktop media query ========================== */
@media only screen and (min-width: 40em) {
  h1 {
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .choices fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto calc(2rem + 2px);
  }
  article figure {
    float: right;
    max-width: 55%;
    text-align: center;
    font-size: smaller;
  }
  article img.scaled {
    width: 100%;
  }
  .columns {
    columns: 300px 3;
    column-gap: 40px;
    margin: 2rem 1.5rem;
  }
  footer ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* ===================== print ========================== */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none;
    text-shadow: none;
  }

  .no-print {
    display: none;
  }
  .polaroid img {
    display: none;
  }
  .polaroid {
    margin: 3rem 0;
  }
  article figure {
    max-width: 40%;
    float: right;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  img {
    max-width: 100%;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
